ios/PitayaClient/Pods
Assembly-CSharp.csproj.CoreCompileInputs.cache
out/
.vscode/
build/
output/
*.xcodeproj
*.xcuserdatad
*.xcuserstate
Assembly-CSharp.csproj.CoreCompileInputs.cache

server-exe
mock-out.log
*-out.log
.clang_complete
.dir-locals.el
tr_uv_tcp_aux.c.autosave
android-toolchain
