ios/PitayaClient/Pods
Assembly-CSharp.csproj.CoreCompileInputs.cache
out/
.vscode/
build/
output/
*.xcodeproj
*.xcuserdatad
*.xcuserstate
Assembly-CSharp.csproj.CoreCompileInputs.cache
nanopb*.tar.gz
openssl-build
_builds
.DS_Store

server-exe
server-exe-out
mock-out.log
Assembly-CSharp.csprojResolveAssemblyReference.cache
*-out.log
.clang_complete
.dir-locals.el
tr_uv_tcp_aux.c.autosave
android-toolchain*
out.log
*-log
pitaya-servers/json-server/server
pitaya-servers/protobuf-server/server
temp/
unity/PitayaExample/.idea
unity/PitayaExample/.idea/*
unity/PitayaExample/Assets/InitTestScene*
compile_commands.json
.ccls-cache
pkg
bin